.expressions-grid {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 10px;
}

.left-column {
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.expand-collapse-button {
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 50%;
}

.expression {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    font-family: monospace;
}

.because {
    font-size: small;
    opacity: 50%;
}

.metadata {
    font-size: small;
    opacity: 50%;
    text-align: right;
}

.operator {
    font-size: small;
    opacity: 50%;
}